<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="sk19nuSxVMew5zMjceylRrSRvYFNaB3WFYSyUebd">

            <title>VBMA - Vietnam Bond Market Association</title>
        <meta name="description" content="Vietnam Bond Market Association" />
    
    <link rel="stylesheet" href="https://vbma.org.vn/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://vbma.org.vn/css/lib/font-awesome.min.css">



    <link href="https://vbma.org.vn/css/lib/animate.min.css" rel="stylesheet" />
    <link href="https://vbma.org.vn/css/lib/lightslider.min.css" rel="stylesheet" />
    <link href="https://vbma.org.vn/css/lib/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://vbma.org.vn/css/lib/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://vbma.org.vn/css/main.css?v=1.0.5" />
    <link rel="stylesheet" href="https://vbma.org.vn/css/table.css" />
    <link rel="stylesheet" href="https://vbma.org.vn/css/chart.css" />
    <link rel="stylesheet" href="https://vbma.org.vn/css/responsive.css" />

    
    <script>
        window.Laravel = {"csrfToken":"sk19nuSxVMew5zMjceylRrSRvYFNaB3WFYSyUebd"};

        var APP_LANGUAGE = 'en';
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5SBJTQG');</script>
    <!-- End Google Tag Manager -->

    </head>

<body>
    <div class="header">
        <div class="header-toolbar d-none d-lg-block wow fadeIn" data-wow-duration=".8s" data-wow-delay="0s">
            <div class="toolbar-content">
                <div class="toolbar-component"><div class="language-switcher-container">
        <ul class="language-switcher">
        <li class="language-item active"><a href="https://vbma.org.vn/en/market-data/gdp-industry-group">EN</a></li>
        <li class="language-item "><a href="https://vbma.org.vn/vi/market-data/gdp-industry-group">VIE</a></li>
    </ul>
</div></div>
                <div class="toolbar-component"><div class="search-box-container">
    <script async src="https://cse.google.com/cse.js?cx=39ffc2a14e13c5a15"></script>
    <div class="gcse-searchbox-only"></div>
</div>
</div>
                <div class="toolbar-component"></div>
                <div class="toolbar-component"><div class="login-links-container">
            <a class="login-link btn common-btn blue-btn text-uppercase text-bold" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">Log in</a>
    </div>
</div>
            </div>
        </div>
        <div class="header-menu"><nav class="navbar navbar-expand-lg" id="main-menu">
    <a class="navbar-brand" href="https://vbma.org.vn/en">
        <img src="https://vbma.org.vn/logo.png" alt="Homepage" title="Homepage" class="logo-image d-none d-lg-block"/>
        <img src="https://vbma.org.vn/logo_mobile.png" alt="Homepage" title="Homepage" class="logo-image d-block d-lg-none"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-block d-lg-none">
            <h1 class="site-title text-bold">Vietnam Bond Market Association</h1>
            <div><div class="search-box-container">
    <script async src="https://cse.google.com/cse.js?cx=39ffc2a14e13c5a15"></script>
    <div class="gcse-searchbox-only"></div>
</div>
</div>
        </div>
        <div class="d-block d-lg-none"></div>
        <div class="menu-container">
            <ul class="nav navbar-nav">



    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>About VBMA</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/about/page/lich-su-hinh-thanh" target="_self" style="" >
            
            <span>Background</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/about/page/su-menh" target="_self" style="" >
            
            <span>Mission</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/board-member-and-executive-committee" target="_self" style="" >
            
            <span>Board of Director and Executive Committee</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/committees" target="_self" style="" >
            
            <span>Committees</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/membership/official" target="_self" style="" >
            
            <span>Categories of Membership</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/about/page/gia-nhap-vbma" target="_self" style="" >
            
            <span>Join VBMA</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/about/page/lien-he" target="_self" style="" >
            
            <span>Contact</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/events" target="_self" style="" >
            
            <span>Events</span>
            
        </a>
            </li>

    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Market data</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="dropdown">
        <a href="#" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Government Bond Market</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/primary-market" target="_self" style="" >
            
            <span>Primary Market</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/secondary-market" target="_self" style="" >
            
            <span>Secondary Market</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/cpbonds" target="_self" style="" >
            
            <span>Corporate Bond Market</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/fx-swap-curve" target="_self" style="" >
            
            <span>VBMA FX Swap Curve</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/government-bond-yield" target="_self" style="" >
            
            <span>VBMA Government Bond Yield Fixing</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/short-term-benchmark-rate" target="_self" style="" >
            
            <span>VBMA Short-term Benchmark Rate</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/fi-bond-yield-curve" target="_self" style="" >
            
            <span>VBMA FI Bond and FI CD curve</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/bond-pricing" target="_self" style="" >
            
            <span>Bond Valuation</span>
            
        </a>
            </li>

    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Macroeconomics Data</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/macro-economic-heatmap" target="_self" style="" >
            
            <span>Vietnam Economic Heatmap</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/cpi" target="_self" style="" >
            
            <span>CPI</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/states-budget" target="_self" style="" >
            
            <span>State Budget</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/fdi" target="_self" style="" >
            
            <span>FDI</span>
            
        </a>
            </li>

    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Export - Import</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/import-export-overview" target="_self" style="" >
            
            <span>Overview</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/import" target="_self" style="" >
            
            <span>Import</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/export" target="_self" style="" >
            
            <span>Export</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>GDP</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/gdp-growth" target="_self" style="" >
            
            <span>GDP Growth</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/gdp-industry-group" target="_self" style="" >
            
            <span>GDP by Sectors</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Money supply and Credit</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/money-supply" target="_self" style="" >
            
            <span>Money supply</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/credit" target="_self" style="" >
            
            <span>Credit</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/g-bond-maturity-schedule" target="_self" style="" >
            
            <span>G-Bond maturity schedule</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/daily-highlight" target="_self" style="" >
            
            <span>Daily Bond Market Highlights</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/market-data/monthly-highlight" target="_self" style="" >
            
            <span>Monthly Bond Market Highlights</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="dropdown">
        <a href="#" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Documents/Reports</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/documents" target="_self" style="" >
            
            <span>Documents</span>
            
        </a>
            </li>

    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Reports</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/reports/weekly" target="_self" style="" >
            
            <span>Weekly Reports</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/reports/monthly" target="_self" style="" >
            
            <span>Monthly Reports</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/reports/quarterly" target="_self" style="" >
            
            <span>Quarterly Reports</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/reports/activity" target="_self" style="" >
            
            <span>Newsletters</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/reports/yearly" target="_self" style="" >
            
            <span>Annual Reports</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/survey" target="_self" style="" >
            
            <span>Survey</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Media</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/vbma-market-makers-list/outright" target="_self" style="" >
            
            <span>VBMA Market Makers</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/government-debt-instrument-primary-dealers" target="_self" style="" >
            
            <span>Primary Dealers of Government Debt Instruments</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/news" target="_self" style="" >
            
            <span>Press Release</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/best-bond-award/outright" target="_self" style="" >
            
            <span>VBMA Best Bond Award</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/activities" target="_self" style="" >
            
            <span>Recent Activity</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Regulatory Framework</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/regulatory-framework/page/khung-phap-ly-cua-trai-phieu" target="_self" style="" >
            
            <span>Introduction</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/regulatory-framework/legal-documents" target="_self" style="" >
            
            <span>Legal Documents List</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/regulatory-framework/letters-of-comments" target="_self" style="" >
            
            <span>VBMA letters of comments</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/regulatory-framework/new-legal-documents" target="_self" style="" >
            
            <span>Newly issued legal documents</span>
            
        </a>
            </li>

</ul>
            </li>

    
    <li class="dropdown">
        <a href="https://vbma.org.vn" target="_self" style="" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>Investor Centre</span>
            <span class="caret"></span>
        </a>
                <ul class="dropdown-menu">



    
    <li class="">
        <a href="https://vbma.org.vn/en/investor-centre/economy-index" target="_self" style="" >
            
            <span>Economic and Financial Indicators</span>
            
        </a>
            </li>

    
    <li class="">
        <a href="https://vbma.org.vn/en/investor-centre/page/quy-trinh-dau-tu-tpcp" target="_self" style="" >
            
            <span>Government Bond Purchasing Process</span>
            
        </a>
            </li>

</ul>
            </li>

</ul>

        </div>
        <div class="d-flex d-lg-none mobile-toolbar">
            <div><div class="login-links-container">
            <a class="login-link btn common-btn blue-btn text-uppercase text-bold" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">Log in</a>
    </div>
</div>
            <div><div class="language-switcher-container">
        <ul class="language-switcher">
        <li class="language-item active"><a href="https://vbma.org.vn/en/market-data/gdp-industry-group">EN</a></li>
        <li class="language-item "><a href="https://vbma.org.vn/vi/market-data/gdp-industry-group">VIE</a></li>
    </ul>
</div></div>
        </div>
    </div>
</nav>
</div>
    </div>
        <div class="main-container-wrapper">
    <div class="main-container gdp_industry_group market-data" ng-cloak ng-app="VBMAApp" ng-controller="BaseCtrl">
        <!-- Content here -->
            <div class="page-layout-container">
        <div class="page-banner"></div>
        <div class="page-content-container">
            <div class="page-content">
                <div class="breadcrumb-container">    <ol class="breadcrumb">
        
                            <li class="breadcrumb-item"><a href="#">Market Data</a></li>
            
        
                            <li class="breadcrumb-item"><a href="#">Macroeconomics Data</a></li>
            
        
                            <li class="breadcrumb-item"><a href="#">GDP</a></li>
            
        
                            <li class="breadcrumb-item active">GDP by Sectors</li>
            
            </ol>


</div>
                <div>
                        <div class="page-data-container" ng-cloak ng-controller="TangTruongGDPCtrl">
        <div class="">
            <div class="table-content" ng-init="Table.init()">
                <h4>Nominal GDP growth by quarter <a href="javascript:void(0)" class="btn-download" ng-click="download(Table.file)">Export Data</a></h4>
                <div class="table-box">
                    <div class="table-filter">
                        <span>From</span>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="filter-from-month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% Table.textDate(Table.filter.from.quarter, 1) %>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="filter-from-month">
                            <a class="dropdown-item" ng-repeat="(key, item) in Table.filterOption.quarters" ng-click="Table.filterFn(item, 1)" href="javascript:void(0)">Quarter <% item %></a>
                          </div>
                        </div>

                         <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="filter-from-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% Table.textDate(Table.filter.from.year, 2) %>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="filter-from-year">
                            <a class="dropdown-item" ng-repeat="(key, item) in Table.filterOption.years" ng-click="Table.filterFn(item, 2)" href="javascript:void(0)">Year <% item %></a>
                          </div>
                        </div>
                        <span class="to">To</span>
                         <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="filter-to-month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% Table.textDate(Table.filter.to.quarter, 3) %>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="filter-to-month">
                            <a class="dropdown-item" ng-repeat="(key, item) in Table.filterOption.quarters" ng-click="Table.filterFn(item, 3)" href="javascript:void(0)">Quarter <% item %></a>
                          </div>
                        </div>

                         <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="filter-to-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% Table.textDate(Table.filter.to.year, 4) %>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="filter-to-year">
                            <a class="dropdown-item" ng-repeat="(key, item) in Table.filterOption.years" ng-click="Table.filterFn(item, 4)" href="javascript:void(0)">Year <% item %></a>
                          </div>
                        </div>
                    </div>
                    <div class="table-body table-body-1" ng-if="!Table.isLoadingTable">
                        <ul class="table-left">
                            <li class="col-header"></li>
                            <li ng-repeat="(key, item) in Table.dataTable.bodies" data-toggle="tooltip" data-placement="top" title="<% item[0] %>"><% item[0] %></li>
                        </ul>
                        <ul class="table-right">
                            <li class="col-header max-content"><span ng-repeat="(key, item) in Table.dataTable.headers"><% item %></span></li>
                            <li ng-repeat="(key, item) in Table.dataTable.bodies" class="max-content" on-last-repeat="1">
                                <span class="row-data" ng-repeat="row in item track by $index" ng-if="$index > 0"><% Table.format(row) %></span>
                            </li>
                        </ul>
                        <p>Trillion VND</p>
                    </div>
                    <div class="loading" ng-if="Table.isLoadingTable"></div>
                </div>
            </div>

            <div class="table-content" ng-init="Table2.init()">
                <h4>Real GDP growth by quarter <a href="javascript:void(0)" class="btn-download" ng-click="download(Table2.file)">Export Data</a></h4>
                <div class="table-box">
                    <div class="table-filter">
                        <span>From</span>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="filter-from-month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% Table2.textDate(Table2.filter.from.quarter, 1) %>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="filter-from-month">
                            <a class="dropdown-item" ng-repeat="(key, item) in Table2.filterOption.quarters" ng-click="Table2.filterFn(item, 1)" href="javascript:void(0)">Quarter <% item %></a>
                          </div>
                        </div>

                         <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="filter-from-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% Table2.textDate(Table2.filter.from.year, 2) %>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="filter-from-year">
                            <a class="dropdown-item" ng-repeat="(key, item) in Table2.filterOption.years" ng-click="Table2.filterFn(item, 2)" href="javascript:void(0)">Year <% item %></a>
                          </div>
                        </div>
                        <span class="to">To</span>
                         <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="filter-to-month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% Table2.textDate(Table2.filter.to.quarter, 3) %>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="filter-to-month">
                            <a class="dropdown-item" ng-repeat="(key, item) in Table2.filterOption.quarters" ng-click="Table2.filterFn(item, 3)" href="javascript:void(0)">Quarter <% item %></a>
                          </div>
                        </div>

                         <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="filter-to-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% Table2.textDate(Table2.filter.to.year, 4) %>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="filter-to-year">
                            <a class="dropdown-item" ng-repeat="(key, item) in Table2.filterOption.years" ng-click="Table2.filterFn(item, 4)" href="javascript:void(0)">Year <% item %></a>
                          </div>
                        </div>
                    </div>
                    <div class="table-body table-body-2" ng-if="!Table2.isLoadingTable">
                        <ul class="table-left">
                            <li class="col-header"></li>
                            <li ng-repeat="(key, item) in Table2.dataTable.bodies"><% item[0] %></li>
                        </ul>
                        <ul class="table-right">
                            <li class="col-header max-content"><span ng-repeat="(key, item) in Table2.dataTable.headers"><% item %></span></li>
                            <li class="max-content" ng-repeat="(key, item) in Table2.dataTable.bodies" on-last-repeat="2">
                                <span class="row-data" ng-repeat="row in item track by $index" ng-if="$index > 0"><% Table2.format(row) %></span>
                            </li>
                        </ul>
                        <p>Trillion VND</p>
                    </div>
                    <div class="loading" ng-if="Table2.isLoadingTable"></div>
                </div>
            </div>
        </div>
    </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer">
        <div class="footer-container">
    <div class="footer-menu">
        <div class="row">
            <div class="col-12 col-lg-6 footer-menu-section">
                <h4 class="footer-menu-title text-bold text-uppercase">Join VBMA</h4>
                <div class="join-us-description">
                    <p class="large-text text-bold text-uppercase">Join us</p>
                    <p>To become a member of VBMA ... here&#039;s how:</p>
                    <p>Thank you for your interest in becoming a member of the Vietnam Bond Market Association (VBMA).  We welcome your participation no matter what your area of interest would be.  Membership in VBMA provides you with access to our knowledgeable staff, research services, discounted registration fees for our conferences and events, and unique networking opportunities.</p>
                    </p>
                </div>
                <a class="btn blue-btn text-bold text-uppercase join-btn" href="https://vbma.org.vn/en/about/page/gia-nhap-vbma">Join VBMA</a>
            </div>
            <div class="col-12 col-lg-3 footer-menu-section">
                <h4 class="footer-menu-title text-bold text-uppercase">Contact</h4>
                <p class="text-bold">Vietnam Bond Market Association</p>
                <p>Address: 17th floor, Gelex Tower, 52 Le Dai Hanh, Hanoi, Vietnam</p>
                <p>Phone: +84 24 3974 8781</p>
                <p>Fax: +84 24 3 9748782</p>
                <p>Email: info@vbma.org.vn</p>
            </div>
            <div class="col-12 col-lg-3 footer-menu-section">
                <h4 class="footer-menu-title text-bold text-uppercase">Follow us</h4>
                <ul class="social-menu">
                    <li><a class="twitter" href="#" target="_blank">Twitter</a></li>
                    <li><a class="facebook" href="https://vi-vn.facebook.com/Vietnam-Bond-Market-Association-323719891126393/" target="_blank">Facebook</a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/company/the-vietnam-bond-market-association/" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>&#169; 2026 Vietnam Bond Market Association</span>
    </div>
</div>

<!-- Login modal -->
<div class="modal fade login-modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login-form-container">
    <div class="original-login-form-container">
        <form method="POST" action="https://vbma.org.vn/en/validateLoginAjax" class="login-form">
            <input type="hidden" name="_token" value="sk19nuSxVMew5zMjceylRrSRvYFNaB3WFYSyUebd">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" name="username" placeholder="" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" />
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input show-password-checkbox">
                <label class="form-check-label" for="show-password-checkbox">Show password</label>
            </div>
            <button class="btn blue-btn submit-btn" type="submit">Log in</button>
        </form>
        <div class="form-validation-errors">
            <div class="error-container">
                <ul></ul>
            </div>
        </div>
    </div>
    <div class="otp-form-container">
        <form method="POST" action="https://vbma.org.vn/en/validateOtpAjax" class="otp-form">
            <p class="otp-notice-message"></p>
            <div class="form-group">
                <label for="otp">Validation code</label>
                <input class="form-control" type="text" name="otp" maxlength="6"/>
                <button class="btn blue-btn submit-btn" type="submit">Verify</button>
            </div>
            <p>If you don&#039;t receive the validation code, or it has expired, <a href="javascript:void(0);" class="resend-otp-btn" data-url="https://vbma.org.vn/en/resendOtpAjax">click here to resend it.</a></p>
        </form>
        <div class="form-success-message">
            <div class="error-container">
                <ul></ul>
            </div>
        </div>
        <div class="form-validation-errors">
            <div class="error-container">
                <ul></ul>
            </div>
        </div>
    </div>

</div>
            </div>
        </div>
    </div>
</div>    </div>
    <script src="https://vbma.org.vn/js/lib/jquery-3.2.1.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/popper.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/bootstrap.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/lightslider.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/wow/wow.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/angular.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/angular-sanitize.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/highcharts.js"></script>
    <script src="https://vbma.org.vn/js/lib/lodash.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/moment.js"></script>
    <script src="https://vbma.org.vn/js/lib/xlsx.full.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/jquery.dataTables.min.js"></script>
    <script src="https://vbma.org.vn/js/lib/bootstrap-datepicker.min.js"></script>
    <script src="https://vbma.org.vn/js/main.js?v=1.0.4"></script>
    <script src="https://vbma.org.vn/js/base.js?v=1.0.4"></script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SBJTQG"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
            <script src="https://vbma.org.vn/js/markets/GDPnhomnganh.js"></script>
    </body>
</html>
